.visiblePostList {
    white-space: pre-line;
}

.width {
    width: 100%;
}

.postsTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 65px;
    height: 40px;
    image-rendering: crisp-edges;
}